<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List</title>
        <style>
            .trade-items{
                margin: 10px;
            }
        </style>
</head>
<body>
    {% include "login/navbar.html" %}
    <div class="content">
        <div class="trade-items">
            <h1>Available Items</h1>

            <ul>
                {% for item in items %}
                    <li>
                        <strong>{{ item.name }}</strong> - {{ item.description }}
                        <a href="{% url 'item_detail' item_id=item.id %}">View Details</a>
                        <a href="{% url 'post_trade' %}?item_id={{ item.id }}">Post a Trade</a> 
                        <!-- Link to post a trade with the item -->
                    </li>
                {% empty %}
                    <p>No items available.</p>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>