<!DOCTYPE html>
<html>
    <head>
        <style>
            .trade-items{
                margin: 10px;
            }
        </style>
    </head>
    <body>
        {% include "login/navbar.html" %}
        <div class="content">
            <div class= "trade-items">
                <h1>Available Items</h1>

                {% if open_trades %}
                <ul>
                    {% for trade in open_trades %}
                        <li>
                            <strong>User #{{ trade.user_id }} offers {{ trade.quantity }} {{ trade.item_offered }}</strong>
                            <p>Status: {{ trade.status }}</p>
                            {% if trade.status == "open" %}
                                <form action="{% url 'request_trade' trade.id %}" method="post">
                                    {% csrf_token %}
                                        <button type="submit">Request Trade</button>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>No available trades at the moment.</p>
                {% endif %}
            </div>
        </div>
</body>
</html>